@import "tailwindcss";

@theme{
  --color-primary: #F84565;
  --color-primary-full: #D63854;
}

*{
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body{
  color: white;
  background-color: #09090B;
  /* overflow-x: hidden; */
}

/* Hide video controls & scrollbar */
video::-webkit-media-controls {
  display: none !important;
}

::-webkit-scrollbar {
  display: none;
}